In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import re
import pickle
import os
from datetime import datetime, date, timedelta

import selenium

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [2]:
offers_db = pickle.load(open('db/offers_db', 'rb'))

In [3]:
offers_db

,site,experience,name,company,location,work_mode,salary_avg,salary_low,salary_high,technologies,link,added_at,voivodeship
0,justjoin.it,junior,Software Developer Intern,AI Clearing,Warszawa,Not specified,6000.0,5000.0,7000.0,"[SQL, Python, Git]",https://justjoin.it/offers/ai-clearing-softwar...,2024-02-15 11:41,mazowieckie
1,justjoin.it,junior,AI/ML Engineer,MindPal,Warszawa,Praca zdalna,8500.0,7000.0,10000.0,"[AI, Machine Learning, C++]",https://justjoin.it/offers/mindpal-ai-ml-engin...,2024-02-15 11:41,mazowieckie
2,justjoin.it,junior,Junior Data Management Specialist,DXC Technology,Warszawa,Praca zdalna,NaN,NaN,NaN,"[data analytics, SQL, Python]",https://justjoin.it/offers/dxc-technology-juni...,2024-02-15 11:41,mazowieckie
3,justjoin.it,junior,Junior Python / DevOps Engineer,digatus,Warszawa,Praca zdalna,11000.0,9000.0,13000.0,"[Docker, DevOps, Python]",https://justjoin.it/offers/digatus-junior-pyth...,2024-02-15 11:41,mazowieckie
4,justjoin.it,junior,"Software Engineer, Early Career",Affirm,Warszawa,Not specified,16450.0,16450.0,16450.0,"[JavaScript, Kotlin, C++]",https://justjoin.it/offers/affirm-software-eng...,2024-02-15 11:41,mazowieckie
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635,pracuj.pl,mid,Inżynierka Systemowa / Inżynier Systemowy ds. ...,Betacom S.A.,Warszawa,Praca hybrydowa,NaN,NaN,NaN,"[Linux, JavaScript, Python, SQL]",https://www.pracuj.pl/praca/inzynierka-systemo...,2024-02-27 10:18,NaN
1636,pracuj.pl,senior,Software Development Engineer II - Data Engine...,Tesco Technology,Kraków,Praca hybrydowa,23500.0,17000.0,30000.0,"[Python, Hadoop, Airflow, Hbase, Hive, GitHub,...",https://www.pracuj.pl/praca/software-developme...,2024-02-27 10:18,NaN
1637,pracuj.pl,mid,IT Performance Reporting Analyst II,Herbalife Nutrition GBSC Kraków Sp. z o.o.,Kraków,Praca hybrydowa,NaN,NaN,NaN,"[Microsoft Power BI, SQL]",https://www.pracuj.pl/praca/it-performance-rep...,2024-02-27 10:18,NaN
1638,pracuj.pl,senior,Senior Data Engineer / Starszy Specjalista ds....,PKO Bank Polski SA,Warszawa,Praca hybrydowa,NaN,NaN,NaN,"[SAS, 4GL, Python, SQL, Google Cloud Platform,...",https://www.pracuj.pl/praca/senior-data-engine...,2024-02-27 10:18,NaN
1639,pracuj.pl,mid,Administrator Systemów - Starszy Specjalista w...,Polskie Porty Lotnicze S.A.,Warszawa,Praca stacjonarna,NaN,NaN,NaN,"[SQL, VMware, Windows Server]",https://www.pracuj.pl/praca/administrator-syst...,2024-02-27 10:18,NaN